
.container {
  max-width: 1550px;
  margin: auto;
  padding: 0;
}

.sign-up-container-fluid {
  background-image: url("../../assets/images/sign-up-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;

  .sign-up-container {
    width: 40%;
    height: 100%;
    padding:2rem 0 2rem 4rem;
    background: white;

    .project-title {
      font-size: 2rem;
      font-weight: bolder;
      margin-bottom: 3rem;
      color: #1b3a70;
    }

    .sign-up-form {
      p {
        font-size: 2rem;
        font-weight: 700;
        margin: 0.8rem 0;
        color: #1b3a70;
      }

      form {
        .form-group {
          label {
            font-size: 0.7rem;
            font-weight: 700;
            margin-top: 0.9rem;
          }
          input {
            width: 70%;
            border: none;
            border-radius: 0;
            padding: 0.1rem 0;
            border-bottom: 1px solid lightgray;
            font-size: 1rem;
            color: gray;
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
          ::placeholder {
            color: darkgray;
          }
          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          .invalid-feedback {
            font-size: 0.6rem;
          }
        }
        button {
          cursor: pointer;
          padding: 0.7rem 1.5rem;
          border: none;
          border-radius: 8px;
          background: #1b3a70;
          font-size: 1.2rem;
          color: white;
          margin-top: 1rem;
          box-shadow: none;
          &:disabled {
            cursor: not-allowed !important;
            background-color: #838d97 !important;
          }
        }
      }
    }
  }
}

