<div class="container">
  <div class="sign-up-container-fluid">
    <div class="sign-up-container">
      <div class="project-title">
        Email Trust
      </div>
      <div class="sign-up-form">
        <p>
          Confirm Email - Enter OTP
        </p>
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && confirmOtp()" novalidate>
          <div class="form-group">
            <label for="otp">OTP</label>
            <input type="text" onlyNumber id="otp" placeholder="Enter OTP" class="form-control" name="otp" [(ngModel)]="emailOtp" #otp="ngModel" (ngModelChange)="resetOtpValidation()"
                   [ngClass]="{ 'is-invalid': f.submitted && otp.invalid }" autocomplete="off" required minlength="6" maxlength="6" />
            <div *ngIf="f.submitted && otp.invalid" class="invalid-feedback">
              <div *ngIf="otp.errors.required">OTP is required</div>
              <div *ngIf="otp.errors.minlength">OTP must be at least 6 characters</div>
            </div>
            <div *ngIf="otpInvalidError" class="invalid-feedback">
              <div *ngIf="otpInvalidError">Invalid OTP</div>
            </div>
          </div>
          <button type="submit" value="submit" [disabled]="!emailOtp">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
